#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Hide scrollbars globally where needed */
::-webkit-scrollbar {
  display: none;
}

.filesystem-filemanager .e-toolbar,
.filesystem-filemanager .e-toolbar .e-toolbar-items,
.filesystem-filemanager .e-toolbar .e-toolbar-item {
  min-height: 64px !important;
  height: 64px !important;
}

.filesystem-filemanager .e-toolbar .e-toolbar-item .e-tbar-btn.e-btn {
  min-height: 56px !important;
  height: 56px !important;
  padding: 0 24px !important;
  font-size: 20px !important;
}

.filesystem-filemanager .e-toolbar .e-toolbar-item .e-tbar-btn-text,
.filesystem-filemanager .e-toolbar .e-toolbar-item .e-tbar-btn .e-icons,
.filesystem-filemanager .e-toolbar .e-toolbar-item .e-tbar-btn span {
  line-height: 56px !important;
  font-size: 22px !important;
}


