# .github/workflows/release.yml
name: Release
on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          architecture: "x64"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build dist
        run: uv build --directory ./client

      - name: Publish to PyPI
        run: uv publish --directory ./client --token "${{ secrets.PYPI_TOKEN }}"
